*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FBEAFF;
    font-family: 'Poppins', sans-serif;    
    font-weight: bold;
}

ul{
    list-style: none;   
    font-style: italic;
}

a{
    text-decoration: none;
    font-weight: 700;
}

body{
    height: 100vh;
    background-image: url(/vortex.jpg) ;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover

    /* background-image: linear-gradient(to right top, #6845A1, #9659b3, #ad5389); */
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #6845a13f;
    box-shadow: 0 0 15px #6845A1;
}

header div a:hover {
    color: #00c9b7;
    cursor: pointer;
}
header ul{
    display: flex;

}

header ul li{
    padding: 10px;
}


header ul li a{
    transition: 300ms;    
}

header ul li a:hover{
    color: #00c9b7;
    text-decoration: underline;

}


.container{
    text-align: center;
}

.container .name h1{
    font-size: 50px;
}

.container .name h5{
    font-size: 25px;
}

#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 50ms;
}

.rotacao{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;

}

#about{
    display: none
}

#about p{
    max-width: 600px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
    border: thick double #6845A1;
    background-color: #6845a14d;
    padding: 20px;
    margin-top: 20px;
}

.form input{
    width: 50%;

}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color:#6845A1;
}

button{
    background-color: #00c9b7;
    background-size: 200% 100%;
    background-position: right bottom;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 300ms ease-out;
    box-shadow: 0 0 5px;
    cursor: pointer;

}
button:hover{
    background-image: linear-gradient(to right top, #6845A1, #9659b3, #ad5389);
    background-position: left bottom
}